.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px dashed;
    &:last-child {
      margin-bottom: 0;
    }
  &--completed {
    background-color: #5E8C00;
  }

  &__idx {
    margin: 0 10px;
  }
  &__button {
    margin-left: auto;
  }
}
