<li class="list-item"
    [ngClass]="{'list-item--completed': item.completed }"
    *ngFor="let item of items; let idx = index"

>
  <span class="input-checkbox">
    <input type="checkbox"
           name="isCompleted"
           (change)="onComplete(item.id, $event.target.checked)"
           [checked]="item.completed"
    />
  </span>

  <b class="list-item__idx">{{idx + 1}}</b>
  <span class="todo-description">{{item.title}}</span>

  <button class="list-item__button"
          type="button"
          (click)="onDelete(item.id)"
  >Удалить</button>
</li>
